<!doctype html>
<html>
  <head>
    <title>Cheques</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="/css/bootstrap.css">-->
    <script src="/js/jquery.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/cheques.js"></script>
  </head>
<style>
.cheque {
	position: relative;
	width: 20cm;
	height: 7.5cm;
}
.cheque span {
	position: absolute;

}
@media print {
     @page {
     	size: A4 portrait;
     	margin-top:  6mm;			/* AJUSTES DE BORDE DE IMPRESION */
     	margin-left: 3mm;
     }
     .planilla {
     	display: none;
     }
}
</style>
<body>
<div ng-app="chequeApp" ng-controller="chequeCtrl" id="chequeCtrl" class="container">
	
<div class="planilla">
	<table>
		<tr>
			<td>
				<fieldset><legend>Importe a pagar</legend>
					$ <input type="text" id="importe" ng-model="cheque[0].importe">
 				</fieldset>
			</td>
		</tr>
		<tr>
			<td>
			<fieldset><legend>Fecha de Emisión</legend>
				ROSARIO <input type="text" placeholder="Día..." ng-model="cheque[0].emisionDia"> 
				DE <input type="text" placeholder="Mes con letras" ng-model="cheque[0].emisionMes"> DE <input type="text" placeholder="Año..." ng-model="cheque[0].emisionAnio">
			</fieldset>
			</td>
		</tr>
		<tr>
			<td>
				<fieldset><legend>Fecha de Pago</legend>
					EL <input type="text" placeholder="Día..." ng-model="cheque[0].pagoDia"> DE <input type="text" placeholder="Mes con letras" ng-model="cheque[0].pagoMes"> DE <input type="text" placeholder="Año" ng-model="cheque[0].pagoAnio">
				</fieldset>
			</td>
		</tr>
		<tr>
			<td>
				<fieldset><legend>Destinaario</legend>
					PAGUESE A <input type="text" placeholder="Nombre destinatario" ng-model="cheque[0].destino">
				</fieldset>
			</td>
		</tr>
		<tr>
			<td>
				<fieldset><legend>Importe en letras</legend>
					LA CANTIDAD DE PESOS <input type="text" placeholder="Importe con letras... 1/2" ng-model="cheque[0].importeLetras1">
					<br><input type="text" placeholder="Importe con letras... 2/2" ng-model="cheque[0].importeLetras2">
				</fieldset>
			</td>
		</tr>
	</table>
	<br>
	<a href="javascript:window.print()">Imprimir</a>
</div>

<div class="cheque">

	<span style="left:14.5cm;	top:0.8cm">{{cheque[0].importe}}</span>

	<span style="left:6.3cm;	top:1.6cm">{{cheque[0].emisionDia}}</span>
	<span style="left:7.5cm;	top:1.6cm">{{cheque[0].emisionMes}}</span>
	<span style="left:11cm;		top:1.6cm">{{cheque[0].emisionAnio}}</span>

	<span style="left:5.3cm;	top:2.3cm">{{cheque[0].pagoDia}}</span>
	<span style="left:7cm;		top:2.3cm">{{cheque[0].pagoMes}}</span>
	<span style="left:10.5cm;	top:2.3cm">{{cheque[0].pagoAnio}}</span>

	<span style="left:6.5cm;	top:2.9cm">{{cheque[0].destino}}</span>

	<span style="left:8cm;		top:3.6cm">{{cheque[0].importeLetras1}}</span>
	<span style="left:5cm;		top:4.1cm">{{cheque[0].importeLetras2}}</span>

</div>

</div>

</body>
</html>