<!doctype html>
<html>
  <head>
    <title>Class Control</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/socket.io.js"></script>
  </head>
  <style>
    .tablerito {
      position: relative;
      width: calc(1024px / 3);
      height: calc(768px / 3);
      background: #DFDFDF;
      border: solid 2px black;
    }
  </style>
  <body>
    <h4 class="conectado text-center">Control</h4>
    </div>
    <div class="tablerito"></div>
        <div class="radio-inline">
          <label>
            <button onclick="cambiarCursor(1)">Cursor 1</button>
          </label>  
        </div>
        <div class="radio-inline">
          <label>
            <button onclick="cambiarCursor(2)">Cursor 2</button>
          </label>  
        </div>

        <div class="radio-inline">
          <label>
            <button onclick="cambiarCursor(3)">Cursor 3</button>
          </label>  
        </div>

    <div id="aviso"></div>
  </body>
  <script>
    var ws_puerto = window.location.href.split(':3')[0] + ':3001';
    var socket = io(ws_puerto);
    //socket.emit('token', '659e6140ab21a32e87b2c50c6639ca41662e22b');

    socket.on('connect', function(){
      $('.conectado').css('color','green');
      $('.conectado').html('Control Conectado');
    });

    socket.on('disconnect', function(){
      $('.conectado').css('color','red');
      $('.conectado').html('Control Desconectado');
    });

    socket.on('aviso', function(msg) {
      $('.tablero').html(msg);
    });
  
    $('.tablerito').click(function(e){
      socket.emit('mover', {left:(e.pageX - this.offsetLeft) * 3 - 15,
                            top :(e.pageY - this.offsetTop)  * 3 - 15});
    });

    $('.tablerito').mousemove(function(e){
      socket.emit('mover', {left:(e.pageX - this.offsetLeft) * 3 - 15,
                            top :(e.pageY - this.offsetTop)  * 3 - 15});
    });

    $('.tablerito').bind('touchmove', function(jQueryEvent) {
       jQueryEvent.preventDefault();
       var event = window.event;
       socket.emit('mover', { left:(event.touches[0].pageX - this.offsetLeft) * 3 - 15,
                              top :(event.touches[0].pageY - this.offsetTop)  * 3 - 15});
    });

    $('.tablerito').bind('touchstart', function(jQueryEvent) {
      socket.emit('estadoCursor', 0);
    });

    $('.tablerito').bind('touchend', function(jQueryEvent) {
      socket.emit('estadoCursor', 1);
    });

    function cambiarCursor(c){
      socket.emit('cursorTipo', c);
    }
  </script>
</html>