<!doctype html>
<html>
	<head>
    	<title>Tablero IO</title>
    	<link rel="stylesheet" href="/css/bootstrap.css">
	</head>
	<body>
		<form action="/entrar" class="form-inline" method="post">
			<label for="usuario"></label>
			<input type="text" id="usuario" name="usuario">
			<label for="pass"></label>
			<input type="password" id="pass" name="pass">
			<input type="submit" value="Entrar">
		</form>
	</body>
