<html>
	<head>
		<title>Recibo</title>
	</head>
<style>

body {
    padding:0;
    margin:0;
}
@media print {
     @page {
     	size: A4 portrait;
     	margin-top:  0;
     	margin-left: 0;
     }
     .hoja {
     	background: white;
     }
     .separador {
     	display: none;
     }
}
.hoja {
	position: relative;
	top: 0; left: 0;
    margin:0;
	background: cyan;
	width: 210mm;
	height:297mm;
}
.hoja span {
	position: absolute;
}
</style>
<body>
<div class="hoja">
	
	<span style="left:16.2cm;top:2.5cm">10/10/2000</span>

	<span style="left:4.2cm;top:4.9cm">Sosa Gilberto</span>
	<span style="left:4.2cm;top:5.4cm">cucha cucha 1140</span>
	<span style="left:4.2cm;top:5.9cm">2000 Rosario - Santa Fe</span>

	<span style="left:5cm;top:7cm">Mil quinientos pesos</span>

	<span style="left:6.5cm;top:7.8cm">Kangoo 7 asientos</span>

	<span style="left:3.3cm;top:8.9cm">84</span>
	<span style="left:5.5cm;top:8.9cm">Octubre 2017</span>
	<span style="left:11.8cm;top:8.9cm">555</span>
	<span style="left:16.8cm;top:8.9cm">555</span>

	<span style="left:4cm;top:9.9cm">$ 1.500</span>

	<span style="left:4cm;top:10.9cm">10/10/2009</span>

	<span style="left:3.3cm;top:12.5cm">sin deuda</span>

	<span style="left:12.3cm;top:11.7cm">BANCO MACRO</span>
	<span style="left:12.3cm;top:12.1cm">CA 4-332-0947646515-5</span>
	<span style="left:12.3cm;top:12.5cm">CBU 2850332340094764651558</span>

	<!-- Parte Dos -->

	<span style="left:16.2cm;top:21.3cm">10/10/2000</span>

	<span style="left:4.2cm;top:23.3cm">Sosa Gilberto</span>
	<span style="left:4.2cm;top:23.8cm">Cucha Cucha 1140</span>
	<span style="left:4.2cm;top:24.3cm">2000 Rosario - Santa Fe</span>

	<span style="left:6.5cm;top:25.3cm">Kangoo 7 asientos</span>

	<span style="left:8cm;top:26.2cm">84</span>
	<span style="left:12.5cm;top:26.2cm">Octubre 2017</span>

	<span style="left:8cm;top:26.9cm">555</span>
	<span style="left:13cm;top:26.9cm">555</span>
	<span style="left:17.2cm;top:27cm">$ 1.500</span>

</div>
<div class="separador">
	<br>
</div>
<div style="page-break-before:always">
</div>
<div class="hoja">
	
	<span style="left:16.2cm;top:2.5cm">10/10/2000</span>

	<span style="left:4.2cm;top:4.9cm">Sosa Gilberto</span>
	<span style="left:4.2cm;top:5.4cm">cucha cucha 1140</span>
	<span style="left:4.2cm;top:5.9cm">2000 Rosario - Santa Fe</span>

	<span style="left:5cm;top:7cm">Mil quinientos pesos</span>

	<span style="left:6.5cm;top:7.8cm">Kangoo 7 asientos</span>

	<span style="left:3.3cm;top:8.9cm">84</span>
	<span style="left:5.5cm;top:8.9cm">Octubre 2017</span>
	<span style="left:11.8cm;top:8.9cm">555</span>
	<span style="left:16.8cm;top:8.9cm">555</span>

	<span style="left:4cm;top:9.9cm">$ 1.500</span>

	<span style="left:4cm;top:10.9cm">10/10/2009</span>

	<span style="left:3.3cm;top:12.5cm">sin deuda</span>

	<span style="left:12.3cm;top:11.7cm">BANCO MACRO</span>
	<span style="left:12.3cm;top:12.1cm">CA 4-332-0947646515-5</span>
	<span style="left:12.3cm;top:12.5cm">CBU 2850332340094764651558</span>

	<!-- Parte Dos -->

	<span style="left:16.2cm;top:21.3cm">10/10/2000</span>

	<span style="left:4.2cm;top:23.3cm">Sosa Gilberto</span>
	<span style="left:4.2cm;top:23.8cm">Cucha Cucha 1140</span>
	<span style="left:4.2cm;top:24.3cm">2000 Rosario - Santa Fe</span>

	<span style="left:6.5cm;top:25.3cm">Kangoo 7 asientos</span>

	<span style="left:8cm;top:26.2cm">84</span>
	<span style="left:12.5cm;top:26.2cm">Octubre 2017</span>

	<span style="left:8cm;top:26.9cm">555</span>
	<span style="left:13cm;top:26.9cm">555</span>
	<span style="left:17.2cm;top:27cm">$ 1.500</span>

</div>

</body>
</html>